@import 'ui';

:local(.container) {
  background-color: $light;
  box-shadow: inset 0px 50px 150px -30px rgba(0, 0, 0, 0.16);
  padding-top: map-get($spacers, 1);
  .footer-copyright-info {
    font-weight: $font-weight-bold;
  }

  .footer-link {
    text-decoration: none;
    color: inherit;
  }

  .social-icons-list {
    margin-bottom: map-get($spacers, 5);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .social-icon {
      width: 48px;
      height: 48px;
      border-radius: 48px;
      font-size: 18px;
      display: block;
      color: #b3b3b3;
      padding-top: 10px;
      cursor: pointer;
      background-color: $lighter;
      &:not(:first-child) {
        margin-left: map-get($spacers, 3);
      }
    }
  }

  .list-inline {
    margin-bottom: 0;
  }
  .list-inline-item {
    position: relative;
    &:not(:first-child) {
      margin-right: 2rem;
    }

    &:first-child::after {
      display: none;
    }

    &:after {
      position: absolute;
      left: -1rem;
      width: 1px;
      top: 3px;
      bottom: 3px;
      background-color: #fff;
      content: '';
      z-index: 1;
    }
  }
  @include media-breakpoint-down(sm, $grid-breakpoints) {
    .list-inline-item {
      display: block;
      padding-top: map-get($spacers, 1);
      padding-bottom: map-get($spacers, 1);
    }
  }
}
