@import 'ui';

:local(.container) {
  color: inherit;
  background-color: rgba($darker, 0.3);
  border-radius: 80px;
  padding: 30px 60px;
  margin-top: 70px;
  .time-section {
    position: relative;
    padding: 0 20px;
    text-align: center;
    min-width: 100px;
  }
  .time-value {
    font-weight: $font-weight-bold;
    font-size: 48px;
    line-height: 55px;
  }
  .time-label {
    font-size: 24px;
    font-weight: $font-weight-normal;
    position: absolute;
    opacity: 0.5;
    top: -12px;
    right: -8px;
  }
  .time-title {
    line-height: 24px;
    font-size: 14px;
  }
  @include media-breakpoint-down(md, $grid-breakpoints) {
    margin-top: 10px;
    padding: 10px 30px;
    background-color: transparent;
    .time-section {
      transform: scale(0.72);
      transform-origin: center center;
    }
  }
}
